/* index.css */

:root {
  --font-roboto: "Montserrat", sans-serif;
  --font-heading: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-primary: #2860f8;
  --color-error: #d32f2f;
  --color-success: #2e7d32;
}

html,
body,
#root {
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Montserrat-Bold", Helvetica;
}
